<div class="cover">
  <form [formGroup]="form" (ngSubmit)="submit()" class="center">
    <div class="input-group mb-3" style="margin-bottom: 0.2rem">
      <input type="email" class="form-control" id="email" name="username"
             placeholder="username"
             formControlName="username">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>
    <div class="input-group mb-3" style="margin-bottom: 0.2rem">
      <input type="password" class="form-control" id="password"
             placeholder="password"
             formControlName="password">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-key"></i>
        </span>
      </div>
    </div>
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="loading">Submit</button>
  </form>
</div>
