<form [formGroup]="form" (ngSubmit)="search()" style="padding: 10px">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search posts" formControlName="searchValue" />
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</form>

<hr />
<div class="cards" *ngIf="posts | search:searchStr; else loading">
  <div class="card" *ngFor="let post of posts">
    <div class="card-header bg-dark text-white">
      <div style="float: left;">
        <a class="blog-post-link" routerLink="/post/{{post.id}}">{{ post.title }}</a> by <a routerLink="/user/{{post.author}}">{{ post.author }}</a>
      </div>
      <div style="float: right;">
        {{ post.date | date:'dd.MM.yyyy'}}
      </div>
    </div>
    <div class="card-body text-left">
      <quill-view-html [content]="post.text"></quill-view-html>
      <br />
      <button class="btn btn-info btn-layer" routerLink="/post/{{post.id}}">See more</button>
      <div style="float: right">
        <button class="btn btn-danger" (click)="remove(post.id)">Remove</button>
        <button class="btn btn-warning" routerLink="/post/{{post.id}}/edit">Edit post</button>
      </div>
    </div>
  </div>
</div>

<app-create-button></app-create-button>

<ng-template #loading>
  <div class="cover">
    <p class="center">Loading...</p>
  </div>
</ng-template>
