.btn-layer {
    border-radius: 0;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 20%;
    text-align: end;
}

.card {
    border-radius: 0;
    margin-bottom: 10px;
}

.blog-post-link {
  text-transform: uppercase;
  color: #ff0085;
}

.blog-post-link:hover{
    text-decoration: none;
}
