<div class="cover">
  <div class="center">
    <h3>Registration</h3>
    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group mb-3" style="margin-bottom: 0.2rem">
        <input type="text" class="form-control" id="firstname" name="firstname"
               placeholder="First name"
               formControlName="firstName">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="input-group mb-3" style="margin-bottom: 0.2rem">
        <input type="text" class="form-control" id="lastname" name="lastname"
               placeholder="Last name"
               formControlName="lastName">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="input-group mb-3" style="margin-bottom: 0.2rem">
        <input type="text" class="form-control" id="username"
               placeholder="Username"
               formControlName="username">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-key"></i>
          </span>
        </div>
      </div>
      <div class="input-group mb-3" style="margin-bottom: 0.2rem">
        <input type="password" class="form-control" id="password"
               placeholder="password"
               formControlName="password">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-key"></i>
          </span>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
    </form>
  </div>
</div>
